@import url(//db.onlinewebfonts.com/c/605c1c612570275f24508913462da771?family=Radikal);
*{
    font-family: "Radikal"; 
}

img{
    height: 50px;
}

.hidden{
    display: none;
}

.button{
    background-color: #3d195b;
    color: white;
    width:100%;

}