@import url(//db.onlinewebfonts.com/c/605c1c612570275f24508913462da771?family=Radikal);

* {
    font-family: "Radikal";
}

img {
    height: 50px;
}

.hidden {
    display: none;
}

.button {
    background-color: #3d195b;
    color: white;
    width: 100%;

}

.title {
    color: #3d195b;
    font-weight: bold;
    text-align: center;

}

p {
    text-align: center;
    align-content: end;
}

.message-container p {
    color: white;
    background-color: #3d195b;
    padding: 10px;
    margin: 0;
}


@media (min-width: 769px) {

    section {
        height: 75vh;
    }

    .card {
        height: 100%;
    }
}

@media (max-width: 1150px) {
    img {
        height: 40px;
    }

    p {
        font-size: xx-small;
    }
}

@media (max-width: 769px) {
    p {
        font-size: 1rem;
    }

    img {
        height: 50px;
    }
}