/* Styles for the whole website*/
@import url('http://fonts.cdnfonts.com/css/brandon-grotesque-regular');



body {
    margin: 0;
    font-family: 'Brandon Grotesque Regular', sans-serif;
    font-style: normal;
    background: #fffbff;
    text-align: center;
}

/* Navbar, hamburger menu tutorial https://www.youtube.com/watch?v=XM7sEpl0f7c */

.navbar {
    position: relative;
    /*changes the position to make it relative to its parent*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #92817A;
    padding: 0 25px ;
    transition: 0.3s;
    /*controls animation speed when the thing is changing*/
    height: 50;
}
.navbar a {
    color: #000000;
    text-decoration: none;
    font-size: 20px;
    font-weight: 100;
}
.navbar .container {
    margin-right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90%;
}

/* special underline hover effect thing from https://www.youtube.com/watch?v=Kz96odltLQI*/
.underline-hover-effect {
    display: inline-block;
    /*makes it an inline element but can have height and width*/
    padding-bottom: 2px;
    /*how much space between underline and text*/
    position: relative;
}
.underline-hover-effect::before {
    /*before it is hovered*/
    content: "";
    position: absolute;
    left: 0;
    /*makes it start at left*/
    bottom: 0;
    /*makes the underline on the bottom*/
    width: 0%;
    /*how much of the underline you start with*/
    height: 2px;
    /*height of the underline*/
    background-color: black;
    transition: width 0.25s ease-out;
    /*makes the transition smooth and occur in 0.25 seconds*/

}
.underline-hover-effect:hover::before {
    /*when its hovered*/
    width: 100%;
    /*how much of the underline you see*/
}

.logo {
    display: inline;
    width: fit-content;
}
.logo img {
    display: inline;
    float: left;
    width: 120px;
}

.menu {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    z-index: 1;
    /*what order the elements stack in*/
    transition: 0.5s;
}

.menu li {
    list-style-type: none;
}

.menu li a {
    color: #000;
    text-decoration: none;
    display: block;
    margin-right: 15px;
    padding: 5px 25px 5px 25px;
    font-size: 20px;
    line-height: 1;
    transition: 0.3s;
    white-space: nowrap;
}

.hamburger {
    /* center line*/
    position: relative;
    width: 30px;
    height: 4px;
    background: black;
    border-radius: 10px;
    cursor: pointer;
    z-index: 2;
    transition: 0.3s;
}

.hamburger:before,
.hamburger:after {
    /*top and bottom line*/
    content: "";
    position: absolute;
    height: 4px;
    right: 0;
    background: black;
    border-radius: 10px;
    transition: 0.3s;
}

.hamburger:before {
    /*creates line  above center line*/
    top: -10px;
    width: 20px;
}

.hamburger:after {
    /*creates line below center line*/
    top: 10px;
    width: 25px;
}

.toggle-menu {
    /* basically the hamburger is a checkbox that you can't see under the lines*/
    position: absolute;
    width: 30px;
    height: 100%;
    z-index: 3;
    cursor: pointer;
    opacity: 0;
    /*cant see the checkbox*/
}

.hamburger,
.toggle-menu {
    /*makes you not see the hamburger unless on the specified media query*/
    display: none;
}

.container input:checked~.hamburger {
    /*when the checkbox is checked make the line dissapear*/
    background: transparent;
}

/*the rotations create the x once it is checked*/
.container input:checked~.hamburger:before {
    /*when it is checked top line will rotate -45 degrees*/
    top: 0;
    transform: rotate(-45deg);
    width: 30px;
}

.container input:checked~.hamburger:after {
    /*when it is checked bottom line will rotate 45 degrees*/
    top: 0;
    transform: rotate(45deg);
    width: 30px;
}
.container input:checked~.menu {
    /*when it is checked it doesn't push the navbar away anymore (Right is different from margin right, because in margin you are moving the element itself but when you use "right" it pushes other things away*/
    right: 0;
}


/*footer*/
footer{
    padding-top: 30px;
    margin-top: 0;
    color: #fff;
    background-color: #362417;
    text-decoration: none;
    margin-bottom: 0;
}

footer a{
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    color: lightgrey;
}

footer h4 {
    padding-top: 1em;
    margin-top: 0;
}

footer p {
    font-size: 16px;
    margin-bottom: 0;
    padding-bottom: 1em;
}

footer img{
    width: 150px;
}


/*HOME PAGE*/
/*header / showcase (for main page only) */
#showcase { /*displayed as flex so it can be centred*/
    display: flex;
    height: 500px;
    color: #000;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

#showcase img{
    width: 40%;
}

/*determines how the background of the showcase area is going to look*/
#showcase .background-image {
    position: absolute;
    background: url(../images/carbonara.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
    z-index: -1;
    opacity: 0.5;
}

/*boxes*/
#boxes ul {
    padding: 0 20px 0 20px;
    margin-top: 50px;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;

}

#boxes img {
    margin: auto;
    width: 90%;
}



/*location area + map*/
#location {
    margin-top: 50px;
    background-color: #F1DABF;
    margin-bottom: 0;
}
/*makes the map and description viewed as flex*/
#location ul {
    display: flex;
    justify-content: center;
    margin: auto;
    text-align: left;
    align-items: center;
    list-style-type: none;
}


#location ul li :nth-child(2) {
    padding-right: 20%;
}

/*hides the small map*/
.smallmap{
    display: none;
}



/* MAKE A RESERVATION PAGE*/
.reserve {
    max-width: 960px;
    margin: auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    text-align: left;
}

/* styles the forms*/
.form {
    width: 450px;
    margin: 0;
    background-color: #F1DABF;
    padding: 2em;
}

label {
    display: block;
    width: 150px;
    float: left;
}

.hours-open {
    padding: 2em;
    background-color: #362417;
    color: white;
    width: 30%;
    font-family: futura-pt, sans-serif;
    font-weight: bold;

}

.hours-open ul {
    text-decoration: none;
    list-style-type: none;
    padding-left: 1em;
}

.button {
    display: inline-block;
    background-color: #92817A;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    margin-top: 1em;
    width: 7em
}

.button:hover {
    background-color: black;
}

input {
    background-color: white;
    border-radius: 7px;
    height: 25px;
    font-family: futura-pt, sans-serif;
    font-weight: bold;
}

/*makes the label be displayed above the form*/
.vertical {
    display: flex;
    flex-direction: column;
}

.reserve img {
    width: 45%;
}

/* GALLERY PAGE*/

/*makes the gallery into a grid*/
.container-gallery {
    max-width: 960px;
    margin: auto;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

/*the images fill up the grid boxes*/
.container-gallery img {
    width: 100%;
    content: fill;
}

/*sizes the different boxes*/
.image-gallery:nth-of-type(2) {
    grid-column: 2/4;
    grid-row: 1/3;
}

.image-gallery:nth-of-type(2) {
    grid-column: 2/4;
    grid-row: 1/3;
}

.image-gallery:nth-of-type(7) {
    grid-column: 1/3;
    grid-row: 4/6;
}

.image-gallery:nth-of-type(11) {
    grid-column: 2/4;
    grid-row: 6/8;
}


/* ABOUT US*/

.half-page {
    /*makes the page into the grid so it splits it up with one being the image and the other side being the about us*/
    display: grid;
    padding: 5px;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
}

/*about us side styling*/
.about-us:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2% 0 2%;
    height: 650px;
    background-color: #F1DABF;
}

/*picture side styling*/
.about-us:nth-of-type(2) {
    background: url(../images/shells.png);
    height: 650px;
    background-size: cover;
}

/*MENU PAGE*/
.menu-sections {
    /*makes the menu a grid separated by sections*/
    font-family: futura-pt, sans-serif;
    max-width: 960px;
    margin: auto;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0px;
}

.item {
    /*styles each menu section*/
    background-color: #ecdcd4;
    color: black;
    font-size: 20px;
    padding: 20px;
    border-bottom: solid 1px black;
    grid-column: 1-3;
}

.item ul{
    list-style-type: none;
}

.item p{
    margin: 0;
}

.menu-sections .item:nth-of-type(1),
.menu-sections .item:nth-of-type(2) {
    /*makes these sections take up the whole grid*/
    grid-column: 1/4;
}

.menu-sections .item:nth-of-type(3) {
    /*makes it take up 2/3s of the grid*/
    grid-column: 1/3;
    border-right: solid 1px black;
}


.alignleft {
    /*allows the menu item names to be aligned left*/
    float: left;
    font-size: 20px;
}

.alignright {
    /*allows the menu item prices to be alinged right*/
    float: right;
    font-size: 20px;
}

.item-description{
    text-align: left;
    float: left;
    font-size: 16px;
    font-style: italic;
}


/*NAVBAR MEDIA QUERY*/
@media (max-width: 900px) {
    /*makes the hamburger appear when the screen is smaller then 992px*/

    .navbar {
        padding: 10px 20px;
    }

    .hamburger,
    .toggle-menu {
        display: block;
    }

    .menu {
        /*makes the navbar menu go vertically and when it is not checked it pushes it to the right*/
        justify-content: start;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 0;
        right: -400px;
        background: #92817A;
        width: 300px;
        height: 100%;
        padding-top: 65px;
        padding-left: 0;
    }
    .menu li {
        width: 100%;
    }
    .menu li a,
    .menu li a:hover {
        padding: 30px;
        font-size: 24px;
        box-shadow: 0 1px 0 white;
    }
}

/* HOME PAGE MEDIA QUERIES*/
/*once the width is less than 800px, the boxes and location go vertically*/
@media (max-width: 800px) {
    #boxes ul {
        /*makes the boxes go vertically*/
        flex-direction: column;
        justify-content: center;
        padding: 0;
    }

    #boxes img {
        width: 80%;
    }

    #location ul {
        /*makes the map and description go vertically*/
        flex-direction: column;
    }
}

/*displays the smaller map and hides the bigger map*/
@media (max-width: 600px){
    .bigmap{
        display: none;
    }
    .smallmap{
        display: contents;
    }
}

/*MENU PAGE MEDIA QUERY*/
@media (max-width: 551px){
    .menu-sections .item:nth-of-type(3) {
        /*makes it take up all of the grid*/
        grid-column: 1/4;
        border-right: solid 1px black;
    }
    .menu-sections .item:nth-of-type(4) {
        /*makes it take up all of the grid*/
        grid-column: 1/4;
        border-right: solid 1px black;
    }
    
}
/* RESERVE PAGE MEDIA QUERY*/
@media (max-width: 500px){
    /*makes everything stack vertically*/ 
    .reserve{
        flex-direction: column;
    }
    .hours-open{
        padding-right: 0;
        padding-left: 0;
        width: 100%;
        text-align: center;
    }
    .form{
        padding-right: 0;
        padding-left: 0;
        width: 100%;
    }
    .reserve img{
        padding-right: 0;
        padding-left: 0;
        width: 100%;
    }
}

/* ABOUT US MEDIA QUERY*/

@media (max-width: 700px){
    .about-us:nth-of-type(1){
        grid-column: 1/3;
    }
    .about-us:nth-of-type(2){
        grid-column: 1/3;
    }
}
